
#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#search-area {
  width: 200px;
  height: 400px;
  position: absolute;
  bottom: 25%;
  right: 15%;
  background-color: white;
}
